{% extends 'base.html' %}
{% load staticfiles %}

{% block headerclass %}{% if language == 'en' %}'header_en'{% elif language == 'de' %}'header_de'{% endif %}{% endblock %}


{% block language_selector %}
{% if language == 'en' %}
<a href='/en' class='active'>EN</a> / <a href='/de'>DE</a>
{% elif language == 'de' %}
<a href='/en'>EN</a> / <a href='/de' class='active'>DE</a>
{% endif %}
{% endblock %}


{% block navigationbar %}
{% if language == 'de' %}
<ul>
    <a href='{% url 'registration' 'de' %}'><li>Anmeldung</li></a>
    <a href='{% url 'welcome' 'de' %}/#Zurich'><li>Z&uuml;rich</li></a>
    <a href='{% url 'welcome' 'de' %}/#Stundenplan'><li>Stundenplan</li></a>
    <a href='{% url 'welcome' 'de' %}/#Willkommen'><li>Willkommen</li></a>
</ul>
{% elif language == 'en' %}
<ul>
    <a href='{% url 'registration' 'en' %}'><li>Registration</li></a>
    <a href='{% url 'welcome' 'en' %}/#Zurich'><li>Z&uuml;rich</li></a>
    <a href='{% url 'welcome' 'en' %}/#Schedule'><li>Schedule</li></a>
    <a href='{% url 'welcome' 'en' %}/#Welcome'><li>Welcome</li></a>
</ul>
{% endif %}
{% endblock %}

{% block precontent %}
{% if language == 'de' %}
<a href="{% static "img/Flyer_Landscape_de_2016.pdf" %}">
Flyer
</a>
{% elif language == 'en' %}
<a href="{% static "img/Flyer_Landscape_en_2016.pdf" %}">
Flyer
</a>
{% endif %}
{% endblock %}

