{% extends 'base_registration.html' %}

{% block content %}
<div id ='registrationcontainer'>
<div id='registrationheader'>

    {% if status == 'success' %}
    <h4>Vielen Dank! Deine Anmeldung wurde erfolgreich abgeschlossen!</h4>
    <p>Du wirst in den n&auml;chsten Tagen eine Best&auml;tigungs-Email
    erhalten.</p>
    <p>Wir freuen uns dich bald zu sehen!</p>
    <h4>Thank you! Your registration completed successfully!</h4>
    <p>You will receive a confirmation email in the next few days.</p>
    <p>We are looking forward to seeing you soon!</p>

    {% elif status == 'cancel' %}
    <h4>Deine Anmeldung wurde NICHT erfolgreich abgeschlossen!</h4>
    <p>Die Bezahlung via Paypal hat nicht stattgefunden.</p>
    <p>Melde dich bald komplett an wenn du m&ouml;chtest!</p>
    <p>F&uuml;r den Fall dass du auf einen Fehler gestossen bist im Anmelde-Prozess, dann melde dich bitte via <a
    href='&#0109;&#0097;&#0105;lt&#0111;&#0058;ikedaseminar&#64;aikikai-zuerich&#46;ch'>ikedaseminar<span
        class='at'>&#64;</span>aikikai-zuerich&#46;ch</a> bei uns.</p>

    <h4>Your registration has NOT been completed!</h4>
    <p>Your paypal payment was not executed.</p>
    <p>Please register soon if you like!</p>
    <p>In case you encountered an error in the registration procedure, please
    do not hesitate to contact us on <a
    href='&#0109;&#0097;&#0105;lt&#0111;&#0058;ikedaseminar&#64;aikikai-zuerich&#46;ch'>ikedaseminar<span
        class='at'>&#64;</span>aikikai-zuerich&#46;ch</a></p>

    {% elif status == 'paypal_ipn' %}

    <h4>METHOD: {{ method }}</h4>
    {{ post.custom }}

    {{ post }}

    {% endif %}

</div>
</div>
{% endblock %}
