
{% if paypal_item_id == "1K" %}

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="F45VYBEFTXUJC">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "1KP" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="MM6QETZZYRQ8U">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "2K" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Y3HWYN4YYHSV6">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "2KP" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="C7K4DMTX2DM2L">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "3K" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="E2YWFYVUUGS9G">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "3KP" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="KJ5G8WDLQW4LL">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "4K" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="QBQMUMBJHMAM4">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "4KP" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="3A72QB5GJ9QR2">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "5K" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="ZTTT9YKXEFBLN">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% elif paypal_item_id == "5KP" %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8AU3XPMQHKDXA">
<input name="custom" type="hidden" id="item_number" value="PId-{{ purchase.pk }}">
<input type="image" src="https://www.paypalobjects.com/en_US/CH/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

{% endif %}
