{% extends 'base_registration.html' %}

{% block content %}


{% if registration_step == 0 %}


{% if language == 'de' %}
<h4>Wird demn&auml;chst online sein ..</h4>
{% elif language == 'en' %}
<h4>Will be online soon ..</h4>
{% endif %}


{% else %}


<div id='registrationcontainer'>

{% if language == 'de' %}

{% if registration_step == 1 %}
<div id='registrationheader'>
<!-- REGISTRATION HEADER -->

<h4>Willkommen zur Seminar-Anmeldung!</h4>
</p>
<p>
Wir haben ungef&auml;hr noch folgende Anzahl Pl&auml;tze frei:
<ul>
    {% for ep in event.eventpart_set.all %}
    <li><strong>{{ ep.short_description_de }}:</strong> {{ ep.no_available_places }}</li>
    {% endfor %}
</ul>
</p>
<p>
Nimm f&uuml;r die Anmeldung bitte folgende Punkte zur Kenntnis:
<ul>
<li>Die Bezahlung deiner Anmeldung wird durch PayPal passieren. Daf&uuml;r
wirst du eine Kreditkarte ben&ouml;tigen. Es ist jedoch weder notwendig einen
PayPal Account zu besitzen, noch einen zu erstellen.</li>
<li>Eine Annulation deiner Anmeldung ist zwar m&ouml;glich, doch werden wir
dir kein Geld zur&uuml;ckerstatten k&ouml;nnen.</li>
<li>F&uuml;r die Party Samstag Abend werden wir einen kleinen Unkostenbeitrag von 10.- sFr. verrechnen.</li>
<li>&Uuml;bernachten bei uns im Dojo ist gratis.</li>
</ul>
</p>
</div>

<!-- FORMS -->
<div id='registrationform'>
<form method="post">{% csrf_token %}
    <h4>Woran m&ouml;chtest du teilnehmen?</h4>
    <table>
    {{ selection_form.as_table }}
    </table>
    <h4>Pers&ouml;nliche Angaben:</h4>
    <table>
    {{ associate_form.as_table }}
    </table>
    <h4>Wen sollen wir in einem Notfall kontaktieren?</h4>
    <table>
    {{ emergencycontact_form.as_table }}
    </table>
    <h4>M&ouml;chtest du uns eine Nachricht hinterlassen?</h4>
    <table>
    {{ message_form.as_table }}
    </table>
    <br>    
<input type="submit" value="Eingabe"/>
</form>
</div>

{% elif registration_step == 2 %}
<div id='registrationheader'>
<h4>Dein Packet:</h4>
<ul>
{% for ep in eventparts %}
<li>{{ ep.short_description_de }}</li>
{% endfor %}
{% for art in articles %}
<li>{{ art.name_de }}</li>
{% endfor %}
</ul>
<p><strong>Preis:</strong> {{ purchase.balance_due }}.- sFr.</p>
<h4>&Uuml;ber dich:</h4>
    <p>{{ associate.first_name }}  {{ associate.last_name }}</p>
    <p>{{ associate.street_and_nr }}</p>
    <p>{{ associate.postal_code }}  {{ associate.city }}</p>
    <p>{{ associate.country }}</p>
<h4>Du kannst deine Anmeldung nun abschliessen durch Bezahlung via PayPal:</h4>
<p>Klick auf den gelben 'Pay Now' Knopf gleich unterhalb, um auf die PayPal Seite zum Abwickeln der Bezahlung gef&uuml;hrt zu werden.</p>
{% include "paypal_buttons.html" %}
<p>Nach erfolgreichem Abschluss der Bezahlung wirst du innert kurzer Zeit eine Email von uns erhalten. Andernfalls verf&auml;llt die Anmeldung nach einem Tag.</p>
<p>Z&ouml;gere nicht dich bei uns zu melden falls du keine Kreditkarte hast
oder wenn etwas unklar ist via <a
        href='&#0109;&#0097;&#0105;lt&#0111;&#0058;ikedaseminar&#64;aikikai-zuerich&#46;ch'>ikedaseminar<span
    class='at'>&#64;</span>aikikai-zuerich&#46;ch</a>.
</div>
{% endif %}

{% elif language == 'en' %}
{% if registration_step == 1 %}
<div id='registrationheader'>
<!-- REGISTRATION HEADER -->
<p>
<h4>Welcome to the seminar registration!</h4>
</p>
<p>
We still have the following approximate number of places available:
<ul>
    {% for ep in event.eventpart_set.all %}
    <li><strong>{{ ep.short_description_en }}:</strong> {{ ep.no_available_places }}</li>
    {% endfor %}
</ul>
</p>
<p>
Please consider for the subsequent registration that
<ul>
    <li>the payment will happen throught paypal. You will need a credit card to
    do that. However, neither a paypal account nor a paypal account
    registration will be necessary.</li>
    <li>even though cancellation of your registration is possible we will not
    refund your payments.</li>
    <li>we will charge a small contribution towards expenses of 10.- sFr. for
    the party on Saturday evening.</li>
    <li>Sleeping in our dojo is free of charge.</li>
</ul>
</p>

</div>

<!-- FORMS -->
<div id='registrationform'>
<form method="post">{% csrf_token %}
    <h4>What would you like to participate in?</h4>
    <table>
    {{ selection_form.as_table }}
    </table>
    <h4>Personal Details</h4>
    <table>
    {{ associate_form.as_table }}
    </table>
    <h4>Who should we contact in the case of an emergency?</h4>
    <table>
    {{ emergencycontact_form.as_table }}
    </table>
    <h4>Would you like to leave us a message?</h4>
    <table>
    {{ message_form.as_table }}
    </table>
    <br>    
<input type="submit" value="submit"/>
</form>
</div>

{% elif registration_step == 2 %}
<div id='registrationheader'>
<h4>Your Package:</h4>
<ul>
{% for ep in eventparts %}
<li>{{ ep.short_description_en }}</li>
{% endfor %}
{% for art in articles %}
<li>{{ art.name_en }}</li>
{% endfor %}
</ul>
<p><strong>Price: </strong>{{ purchase.balance_due }}.- sFr.</p>
<h4>About you:</h4>
    <p>{{ associate.first_name }}  {{ associate.last_name }}</p>
    <p>{{ associate.street_and_nr }}</p>
    <p>{{ associate.postal_code }}  {{ associate.city }}</p>
    <p>{{ associate.country }}</p>
<h4>You can now complete your registration by paying through PayPal:</h4>
<p>Click on the yellow 'Pay Now' button below to be guided to the PayPal website. There you can execute the transaction.</p> 
{% include "paypal_buttons.html" %}
<p>As soon as the transaction has been carried out successfully you will
receive an email confirming your registration. Otherwise your registration will expire within a day.</p>
<p>In case you do not have a credit card at hand or if you have questions, do
not hesitate to contact us via <a
        href='&#0109;&#0097;&#0105;lt&#0111;&#0058;ikedaseminar&#64;aikikai-zuerich&#46;ch'>ikedaseminar<span
    class='at'>&#64;</span>aikikai-zuerich&#46;ch</a>.
</div>

{% endif %}

{% endif %}




</div>
{% endif %}



{% endblock %}
