{% extends 'base_language.html' %}
{% load i18n %}

{% block extrahead %}
{{ wizard.form.media }}
{% endblock %}

{% block navigationbar %}
{% if language == 'de' %}
<ul>
    <a class='active' href='{% url 'registration' 'de' %}'><li>Anmeldung</li></a>
    <a href='{% url 'welcome' 'de' %}/#Zurich'><li>Z&uumlrich</li></a>
    <a href='{% url 'welcome' 'de' %}/#Stundenplan'><li>Stundenplan</li></a>
    <a href='{% url 'welcome' 'de' %}/#Willkommen'><li>Willkommen</li></a>
</ul>
{% elif language == 'en' %}
<ul>
    <a class='active' href='{% url 'registration' 'en' %}'><li>Registration</li></a>
    <a href='{% url 'welcome' 'en' %}/#Zurich'><li>Zurich</li></a>
    <a href='{% url 'welcome' 'en' %}/#Schedule'><li>Schedule</li></a>
    <a href='{% url 'welcome' 'en' %}/#Welcome'><li>Welcome</li></a>
</ul>
{% endif %}
{% endblock %}


{% block content %}
<div id='registrationcontainer'>
<!-- STEP 1 -->
{% if wizard.steps.step1 == 1 %}
{% if language == 'de' %}
<p>
Willkommen zur Registrierung f&uuml;r unser Seminar mit <strong>Hiroshi
Ikeda</strong> Shihan!
</p>
<p>
Bisher sind wir wie folgt besetzt:
</p>
<p>
Bitte nimm folgende Punkte zur Kenntnis:
<li>
<ul>blabja</ul>
</li>
</p>
{% elif language == 'en' %}
{% endif %}

<!-- STEP 2 -->
{% elif wizard.steps.step1 == '2' %}
{% elif wizard.steps.step1 == '3' %}
{% endif %}
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<div id='registrationform'>
<form method="post">{% csrf_token %}
    <table>
        {{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
    </table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>
</form>


</div>

</div>
{% endblock %}
