{% extends 'base.html' %}

{% block content %}

<div id="section">
<a id='Willkommen'> <h3>Willkommen</h3></a>
<p>
Wir freuen uns auf ein Sommer Aikido Seminar mit <b>Hiroshi Ikeda Shihan</b> in Zurich.</p>
<p> Hiroshi Ikeda ist Aikido Lehrer in Boulder, Colorado. ...</p>
<p>Die Anzahl Plaetze ist beschraenkt, im Besonderen am Freitag Abend. Deshalb bitten wir Euch, euch ueber diese Webseite anzumelden.</p>
</div>


<div id="section">
<a id='Stundenplan'> <h3>Stundenplan</h3></a>
<h4>Keikos</h4>
<ul>
    <li>Freitag, 25. Juli 2014 : 19:00 - 21:00 Uhr im Dojo des Aikikai Zurich</li>
    <li>Samstag, 26. Juli 2014: 10:00 - 12:00 Uhr & 15:00 - 17:00 Uhr in der Sportanlage der Universitaet Irchel</li>
    <li>Sonntag, 27. Juli 2014: 10:00 - 12:00 Uhr & 14:00 - 16:00 Uhr in der Sportanlage der Universitaet Irchel</li>
</ul>
<h4>Party</h4>
Am Samstag Abend wird ein gemeinsames Essen stattfinden, ab 18:00 Uhr im
Gemeinschaftszentrum Wipkingen.
<h4>Preise</h4>
Trainingslektionen sind beliebig waehlbar. Es gilt der folgende Preisschluessel: <br>
1 Lektion: 30.- sFr., 2 Lektionen: 60.- sFr., 3 Lektionen: 80.- sFr., 4 Lektionen: 100.- sFr., 5 Lektionen: 120.- sFr..</br>
</div>

<div id="section">
<a id='Zurich'> <h3>Zurich</h3></a>
<div id="googlemap">
<iframe src="https://mapsengine.google.com/map/embed?mid=zuA-fL48w284.k6cZGqyIHDQY" width="800" height="550"></iframe>
</div>

<h4>Uebernachten</h4>
<h5>Dojo Aikikai Zuerich</h5>
Es besteht die Moeglickeit im Dojo des Aikikai Zuerich zu uebernachten. Wir haben Platz fuer ungefaehr 30 Personen.
<h5>Zeltplatz am Zurichsee</h5>
Am Ufer des Zurichsee liegt ein idyllischer Zeltplatz. Er ist mit dem oeffentlichen Verkehr ca 40 Minuten von den Trainingsstaetten entfernt.
<h5>Hotels und Gasthaeuser</h5>
In der obigen Karte haben wir einige Hotels und Gasthaeuser aufgelistet. Weitere Angebote findet Ihr bei <a href='http://www.zuerich.com/en/hotels-in-zurich/hotel-zurich-city-center.html'>Zurich Tourismus</a>.
<h4>Oeffentlicher Verkehr</h4>
Wenn Ihr mit dem oeffentlichen Verkehr unterwegs seid, dann lohnt es sich eine <a href='https://www.stadt-zuerich.ch/vbz/de/index/tickets/sortiment_preise/tageskarte_einzelbillett.secure.html'>VBZ Tageskarte</a> zu kaufen. Bei Anreise vom Flughafen koennen mehrzonen Tickets am SBB- oder VBZ-Schalter am Flughafen bezogen werden.
</div>

{% endblock %}


