{% extends 'base_language.html' %}
{% load staticfiles %}

{% block content %}

{% if language == 'de' %}

<div class='announcements'>
    <h4>Neuste Seminar Infos</h4>
    <ul>
        <!--<li>-->
        <!--[>[><p>Die Anmeldung ist offline seit Donnerstag, 24. Juli 2014.<p><]<]-->
        <!--<p>Die <a href={% url 'registration' 'de' %}>Anmeldung</a> ist noch online bis Mittwoch, 12. August 2015.</p>-->
        <!--</li>-->

        <li>
            <p>Die Voranmeldung ist nun offline.</p>
            <p>Du m&ouml;chtest trotzdem kommen? Yeah, wir freuen uns!</p>
            <p>Bitte melde dich an der Tageskasse.</p>
        </li>
        <!--[><li><]-->
        <!--[><p>Das Keiko <strong>Freitag Abend</strong> ist bereits komplett ausgebucht.</p><]-->
        <!--[><p>Freitag Abend werden wir <strong>keine weiteren Pl&auml;tze vor Ort</strong> anbieten.</p><]-->
        <!--[></li><]-->
        <!--[><li><]-->
        <!--[><p>F&uuml;r die Keikos Samstag und Sonntag ist es m&ouml;glich sich vor Ort noch einzuschreiben.</p><]-->
        <!--[></li><]-->
    </ul>
</div>

<div class="section">
<a id='Willkommen'></a><h3>Willkommen</h3>
<p>
Wir freuen uns auf unser zweites Sommer Aikido Seminar mit Hiroshi Ikeda Shihan
in Z&uuml;rich und laden alle Aikidoka, unabh&auml;ngig von Stil und
Zugeh&ouml;rigkeit, herzlich ein, mit uns zu &uuml;ben.
</p>
<p>
<strong>Hiroshi Ikeda</strong> ist Aikido Lehrer in Boulder, Colorado, USA.
In Japan geboren, studierte er unter anderem Judo und Kendo ehe er sich an der
Kokugakuin Universit&auml;t unter Mitsugi Saotome dem Aikido zu widmen begann.
Ende der 70er Jahre folgte er seinem Lehrer in die USA und gr&uuml;ndete einige
Jahre sp&auml;ter sein eigenes Dojo, <strong><a
href='http://www.boulderaikikai.org'> Boulder Aikikai</a>
</strong>.<br> Er ist Initiator der weltweit stattfindenden <strong><a
href='http://www.aikidobridge.com/'> Aikido Bridge</a></strong> Seminare.
</p>
<p>
Wir sind froh wenn ihr euch vorzeitig &uuml;ber diese Website anmeldet. Es
erlaubt uns besser zu planen und das Seminar einfacher abzuwickeln. Die
M&ouml;glichkeit dazu besteht noch bis zum Mittwoch, 12. August 2015.<br>
Wir freuen uns aber auch auf Kurzentschlossene und Spontane. Melde dich dann
doch zur Einschreibung vor Ort an der Tageskasse.
</p>
<!--<p>-->
<!--Anmeldung sowie weitere Informationen werden wir Anfang Juni online schalten.-->
<!--</p>-->
<p>
Habt ihr Fragen? Ihr k&ouml;nnt uns via <a
href='&#0109;&#0097;&#0105;lt&#0111;&#0058;ikedaseminar&#64;aikikai-zuerich&#46;ch'>ikedaseminar<span
class='at'>&#64;</span>aikikai-zuerich&#46;ch</a> erreichen.
</p>
<p>Bis bald!</p>
</div>


<div class="section">
<a id='Stundenplan'></a><h3>Stundenplan</h3>

<h4>Keikos</h4>
<ul>
    <li><strong>Freitag, 14. August 2015 : </strong> 19:00 - 21:00 Uhr<br>
    im Dojo des <a href='#AikiKai'>Aiki-Kai Z&uuml;rich</a></li>
    <li><strong>Samstag, 15. August 2015 : </strong> 10:00 - 12:00 Uhr & 15:00 - 17:00 Uhr <br>
    in der <a href='#Irchel'>Sportanlage der Universit&auml;t Irchel</a></li>
    <li><strong>Sonntag, 16. August 2014 : </strong> 10:00 - 12:00 Uhr & 14:00 - 16:00 Uhr <br>
    in der <a href='#Irchel'>Sportanlage der Universit&auml;t Irchel</a></li>
</ul>

<p>Bitte bringt Bokken, Jo und Tanto mit. Wir wissen noch nicht, ob sie zum
Einsatz kommen werden. Wir m&ouml;chten, dass Sensei vor Ort entscheiden
kann.</p>

<h4>Party</h4>
Am Samstag Abend wird ein gemeinsames Essen stattfinden, ab 18:00 Uhr im <a href='#GZ'>GZ Bachwiesen</a><br/>Partyteilnahme kostet 20.- sFr.

<h4>Preise</h4>
Trainingslektionen sind beliebig w&auml;hlbar. Es gilt der folgende
Preisschl&uuml;ssel:<br>
1 Lektion: 30.- sFr., 2 Lektionen: 60.- sFr., 3 Lektionen: 80.- sFr., 4
Lektionen: 100.- sFr., 5 Lektionen: 120.- sFr..</br>

</div>

<div class="section">
<a id='Zurich'></a><h3>Z&uuml;rich</h3>

<!--<div class="image">-->
<!--<p align=center>-->
<!--{% if image_nr == '0' %}-->
<!--<img src='{% static 'img/zurich_summer_1.jpeg' %}' width=80%>-->
<!--{% elif image_nr == '1' %}-->
<!--<img src='{% static 'img/zurich_summer_2.jpeg' %}' width=80%>-->
<!--{% endif %}-->
<!--</p>-->
<!--</div>-->

<h4>Adressen zum Seminar</h4>
<p>
<h5><a id='AikiKai' href='http://www.aikikai-zuerich.ch'>Aiki-Kai Z&uuml;rich</a></h5>
</br>
<h5>ACHTUNG, unser Dojo ist an einem neuen Ort:</h5>
</br>
Bernerstrasse Nord 182<br>
8064 Z&uuml;rich<br>
Tramhaltestelle Grünaustrasse / Bahnhof Altstetten
</p>

<p>
<h5><a id='Irchel' href='http://portal.asvz.ethz.ch/Anlagen/Seiten/Irchel.aspx'>Sportanlagen Universit&auml;t Irchel</a></h5>
Winterthurerstrasse 190<br>
8057 Z&uuml;rich<br>
Tramhaltestelle Irchel, Tram Nr. 10 und 9
</p>

<p>
<h5><a id='GZ' href='http://www.gz-zh.ch/gz-bachwiesen/gz-bachwiesen/'>GZ Bachwiesen</a></h5>
Bachwiesenstrasse 40<br>
8047 Z&uuml;rich<br>
Bushaltestelle Untermoosstrasse, Bus Nr. 80, 7 min Fussweg<br>
Tramhaltestelle Fellenbergstrasse, Tram Nr. 3, 8 min Fussweg<br>
</p>

<p><a href="{% static "img/Directions.pdf" %}">Wegbeschreibung f&uuml;r Party und Restaurants zum Runterladen</a></p>

<!--GZ Bachwiesen, Bachwiesenstrasse 40, 8047 Zürich, Switzerland-->
<!--www.gz-zh.ch-->
<!--044 436 86 36-->

<div id="googlemap">
<iframe src="https://mapsengine.google.com/map/embed?mid=zuA-fL48w284.k6cZGqyIHDQY" width="800" height="550"></iframe>
</div>

<h4>&Uuml;bernachten</h4>
<p>
<h5>Dojo Aiki-Kai Z&uuml;rich</h5>
Es besteht die M&ouml;glickeit im Dojo des Aiki-Kai Z&uuml;rich zu &uuml;bernachten. Wir haben Platz f&uuml;r ungef&auml;hr 40 Personen.
</p>
<p>
<h5>Zeltplatz am Z&uuml;richsee</h5>
Am Ufer des Z&uuml;richsee liegt ein idyllischer <a href='http://www.fischers-fritz.ch/en/camping/impressions.html'>Zeltplatz</a>. Er ist mit dem &ouml;ffentlichen Verkehr ca 40 Minuten von den Trainingsst&auml;tten entfernt.
</p>
<p>
<h5>Hotels und Gasth&auml;user</h5>
In der obigen Karte haben wir einige Hotels und Gasth&auml;user aufgelistet. Weitere Angebote findet ihr bei <a href='http://www.zuerich.com/en/hotels-in-zurich/hotel-zurich-city-center.html'>Z&uuml;rich Tourismus</a>.
</p>
<p>
<h4>&Ouml;ffentlicher Verkehr</h4>
Wenn ihr mit dem &ouml;ffentlichen Verkehr unterwegs seid, dann lohnt es sich
eine <a
href='https://www.stadt-zuerich.ch/vbz/de/index/tickets/sortiment_preise1/tageskarte_einzelbillett.html'>VBZ
Tageskarte</a> zu kaufen. Bei Anreise vom Flughafen k&ouml;nnen
Mehrzonen-Tickets am SBB- oder VBZ-Schalter am Flughafen bezogen werden.
</p>

</div>


{% elif language == 'en' %}
<!-- ENGLISH SECTION -->

<div class='announcements'>
    <h4>Latest Seminar Information</h4>
    <ul>
        <li>
            <p>Registration is offline now.</p>
            <p>You would still like to join us? Yeah, cool!</p>
            <p>Please register at the welcome desk.</p>
        </li>
        <!--<li>-->
        <!--<p>The <a href={% url 'registration' 'en' %}>registration</a> will be online until Wednesday, August 12 2015.</p>-->
        <!--[>[><p>The registration is offline since Thursday, July 24 2014.</p><]<]-->
        <!--</li>-->
        <!--[><li><p>The Keiko on <strong>Friday evening is fully booked!</strong></p><]-->
        <!--[><p>There will be <strong>no additional places at the door on Friday.</strong></p> <]-->
        <!--[></li><]-->
        <!--[><li><]-->
        <!--[><p>It is possible to register at the door for the Keikos on Saturday and Sunday.</p><]-->
        <!--[></li><]-->
    </ul>
</div>

<div class="section">
<a id='Welcome'></a><h3>Welcome</h3>
<p>
We are very much looking forward to our second summer aikido seminar with
Hiroshi Ikeda Shihan and invite all aikidoka irrespective of style and
affiliation to practice with us. 
</p>
<p>
<strong>Hiroshi Ikeda</strong> is aikido instructor in Boulder, Colorado, USA.
He grew up in Tokyo where he studied Kendo and Judo before he started aikido at
Kokugakuin University with Mitsugi Saotome. At the end of the seventies he
followed his teacher to the United States where he founded a few years later
his own dojo, <strong><a href='http://www.boulderaikikai.org'>
Boulder Aikikai</a> </strong>.<br>
He is the initiator of the international <strong><a
href='http://www.aikidobridge.com/'> Aikido Bridge</a></strong> seminars.
</p>
<p>
We appreciate it if you register for the seminar ahead here on our website. It
allows us for better planning and smoother processing during the seminar. This
opportunity still exists until Wednesday, August 12 2015.<br>
If you decide spontaneously to join us we will still be very happy to see you
and ask you to register at the welcome desk.
</p>
<!--<p>-->
<!--Registration and further information will be available from early June.-->
<!--</p>-->
<p>
In case you have questions about the seminar, please feel free to contact us on
our email address
<a href='&#0109;&#0097;&#0105;lt&#0111;&#0058;ikedaseminar&#64;aikikai-zuerich&#46;ch'>
ikedaseminar<span class='at'>&#64;</span>aikikai-zuerich&#46;ch</a>.
</p>
<p>See you soon!</p>
</div>


<div class="section">
<a id='Schedule'></a><h3>Schedule</h3>

<h4>Keikos</h4>
<ul>
    <li>
        <strong>Friday, August 14 : </strong> 19:00 - 21:00</br>
        in the Dojo of the <a href='#AikiKai'>Aiki-Kai Z&uuml;rich</a>
    </li>
    <li>
        <strong>Saturday, August 15 : </strong> 10:00 - 12:00 & 15:00 - 17:00</br>
        in the <a href='#Irchel'>Sport Center of the University of Z&uuml;rich, Irchel</a>
    </li>
    <li><strong>Sunday, August 16 : </strong> 10:00 - 12:00 & 14:00 - 16:00</br> 
        in the <a href='#Irchel'>Sport Center of the University of Z&uuml;rich, Irchel</a>
    </li>
</ul>
<p>Please bring Bokken, Jo and Tanto with you. We do not know yet whether we will use them, but we would like that Sensei can decide on the spot.</p>

<h4>Party</h4>
There will be a dinner and subsequent party on Saturday starting at 6pm at <a href='#GZ'>GZ Bachwiesen</a>.
<br/>
Participation will cost 20.- sFr.

<h4>Price</h4>
Lessons (2 hours) can be combined as you like. The price for your package is
calculated according to the following key:<br>
1 Lesson: 30.- sFr., 2 Lessons: 60.- sFr., 3 Lessons: 80.- sFr., 4 Lessons:
100.- sFr., 5 Lessons: 120.- sFr..</br>

</div>

<div class="section">
<a id='Zurich'></a><h3>Z&uuml;rich</h3>

<!--<div class="image">-->
<!--<p align=center>-->
<!--{% if image_nr == '0' %}-->
<!--<img src='{% static 'img/zurich_summer_1.jpeg' %}' width=80%>-->
<!--{% elif image_nr == '1' %}-->
<!--<img src='{% static 'img/zurich_summer_2.jpeg' %}' width=80%>-->
<!--{% endif %}-->
<!--</p>-->
<!--</div>-->

<h4>Seminar addresses</h4>
<p>
<h5><a id='AikiKai' href='http://www.aikikai-zuerich.ch'>Aiki-Kai Z&uuml;rich</a></h5>
</br>
<h5>ATTENTION, our dojo is at a new location:</h5>
</br>
Bernerstrasse Nord 182<br>
8064 Z&uuml;rich<br>
Tram stop Grünaustrasse / Bahnhof Altstetten
</p>

<h5><a id='Irchel' href='http://portal.asvz.ethz.ch/Anlagen/Seiten/Irchel.aspx'>
Sport Center University of Z&uuml;rich, Irchel</a></h5>
Winterthurerstrasse 190<br>
8057 Z&uuml;rich<br>
Tram stop Irchel, Tram Nr. 10 und 9
</p>

<p>
<h5><a id='GZ' href='http://www.gz-zh.ch/gz-bachwiesen/gz-bachwiesen/'>GZ Bachwiesen</a></h5>
Bachwiesenstrasse 40<br>
8047 Z&uuml;rich<br>
Bus stop Untermoosstrasse, Bus Nr. 80, 7 min by foot<br>
Tram stop Fellenbergstrasse, Tram Nr. 3, 8 min by foot<br>
</p>

<p><a href="{% static "img/Directions.pdf" %}">Directions for Restaurants and Party for Download</a></p>


<div id="googlemap">
<iframe src="https://mapsengine.google.com/map/embed?mid=zuA-fL48w284.k6cZGqyIHDQY" width="800" height="550"></iframe>
</div>

<h4>Accomodation</h4>
<p>
<h5>Dojo Aiki-Kai Z&uuml;rich</h5>
You can sleep in our dojo if you wish. We have places for about 40 people.
</p>
<p>
<h5>Camping site at lake Z&uuml;rich</h5>
Right on the shore of lake Z&uuml;rich there is a scenic <a
href='http://www.fischers-fritz.ch/en/camping/impressions.html'>Camping
site</a>. By public transportation it can be reached in about 40 minutes from
the training sites.
</p>
<p>
<h5>Hotels and hostels</h5>
We listed a few places in the map you find above. For more offers please have a
look at the site of <a
href='http://www.zuerich.com/en/hotels-in-zurich/hotel-zurich-city-center.html'>Z&uuml;rich
Tourism</a>.  </p>
<p>
<h4>Public transportation</h4>
Z&uuml;rich has a very well developed public transportation system. In case you
want to use it while being in Z&uuml;rich we recommend you to buy <a
href='https://www.stadt-zuerich.ch/vbz/en/index/tickets/tickets_prices/day_pass_single_ticket.html'>
VBZ Day Tickets</a>. You can buy them at the ticket machines on every tram
stop, at the counters of bigger tram stops or when arriving at the airport or
at the main train station at the counter of SBB or VBZ.
</p>

</div>
{% endif %}

{% endblock %}

{% block fbbutton %}
<!-- FACEBOOK LIKE BUTTON -->
<div class="fb-like" data-href="http://ikedaseminar.aikikai-zuerich.ch" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>
{% endblock %}

